{% include "header.html" %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <h1>Add New Cafe:</h1>

        <!-- Form -->
        <section>
            <form method="POST" enctype="multipart/form-data">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        {{ form.cafe.label }}
                        {{ form.cafe }}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        {{ form.address.label }}
                        {{ form.address }}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        {{ form.open.label }}
                        {{ form.open }}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        {{ form.close.label }}
                        {{ form.close }}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        {{ form.coffee.label }}
                        {{ form.coffee }}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        {{ form.wifi.label }}
                        {{ form.wifi }}
                    </div>
                    <div class="col 6 col-12-xsmall">
                        {{ form.hidden_tag() }}
                        {{ form.photo.label }}
                        {{ form.photo }}
                        {{ form.submit }}
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% include "footer.html" %}