{% extends 'bootstrap/base.html' %}

{% block title %}Cafe List!{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/css/styles.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>
            {% for cafe in cafes: %}
            <div class="how-section1">
                <div class="row">
                    <div class="wrapper">
                        <img src="{{cafe[1]}}" class="rounded-circle img-fluid" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <h4>{{cafe[0]}}</h4>
                        <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your
                            own freelance business.</h4>
                        <p class="text-muted">Freedom to work on ideal projects. On GetLance, you run your own business
                            and choose your own clients and projects. Just complete your profile and we’ll highlight
                            ideal jobs. Also search projects, and respond to client invitations.
                            Wide variety and high pay. Clients are now posting jobs in hundreds of skill categories,
                            paying top price for great work.
                            More and more success. The greater the success you have on projects, the more likely you are
                            to get hired by clients that use GetLance.</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <p><a href="{{ url_for('add_cafe') }}">Add Cafe to List</a></p>
    <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    {% endblock %}