{% include "header.html" %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>A Resource for Remote Workers in the Denver-Metro Area.</h1>
            <p>Featuring local coffee shops with quality beverages and WIFI capabilities.</p>
        </header>
        <section class="tiles">
            {% for row in cafes: %}
            <article class="style{{ row[8] }}">
									<span class="image">
										<img src='static/images/{{ row[0] }}.png' alt=""/>
									</span>
                <a href="{{ url_for('details', cafe=row[0]) }}">
                    <h2>{{ row[0] }}</h2>
                    <div class="content">
                        <p>{{ row [1] }}</p>
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>
    </div>
</div>
{% include "footer.html" %}